
<div class="container-login">
    <div class="wrap-login">
        <form class="login-form validate-form" id="formLogin" action="" method="post">
            <span class="login-form-title">WELCOME</span>
            <div class="form-group">
                <img id="usericon" src="../../../assets/img/user.png">
            </div>
        <div class="form-group">
            <input class="input100" id="user "name="user" placeholder="User">
        </div>
        <div class="form-group">
            <input class="input100" type="password" name="password" placeholder="Password" >
        </div>
        <div class="container-login-form-btn">
            <div class="wrap-login-form-btn">
                <div class="login-form-bgbtn"></div>
                <button type="submit" name="submit" class="login-form-btn">Login</button>
            </div>
        </div>
    </form>
    </div>
</div>